<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}"
>
<body>
<div layout:fragment="content">
    <div class="card card-custom">
        <div class="card-header">
            <h3 class="card-title">
                Поиск штрафов
            </h3>
        </div>
        <!--begin::Form-->
        <form class="j-default-form" method="post" action="/search-info">
            <div class="card-body">
                <div class="form-group">
                    <label>Введите владельца</label>
                    <input type="text" class="form-control j-input_full_name" th:name="fullName" placeholder="Иванов Иван Иванович"/>
                </div>
                <div class="form-group">
                    <label>Введите госномер</label>
                    <input type="text" class="form-control j-input_state_number" th:name="stateNumber" placeholder="М666ММ70"/>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2 j-search-submit">Поиск</button>
                    <a href="/generate-report"></a><button type="submit" class="btn btn-primary mr-2 j-search-submit">Сгенерировать отчет</button>
                </div>
            </div>
        </form>
        <div class="j-result-info"></div>
        <!--end::Form-->
    </div>
</div>
<th:block layout:fragment="custom_scripts">
    <script type="application/javascript">


        $(document).ready(function (){

           $('.j-default-form').submit(function (e){
               e.preventDefault();

               var result_info = $('.j-result-info');

               var fullName = $('.j-input_full_name').val(),
                   stateNumber = $('.j-input_state_number').val();

               var data = {
                   stateNumber: stateNumber,
                   fullName: fullName
               };

               $.ajax({
                   url: "/search-info",
                   method: 'post',
                   contentType:'application/json; charset=utf-8;',
                   dataType: 'json',
                   data: JSON.stringify(data),
                   success: function (cars){
                       result_info.empty();
                        $.each(cars, function (k, v){
                            result_info.append('<p>' + v + '</p></br>')
                        });
                   }
               });
           });
        });
    </script>
</th:block>
</body>
</html>